<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cz.cvut.fit.vybirjan.mp.testapp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="cz.cvut.fit.vybirjan.mp.testapp.Perspective"
            id="mp-testapp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="cz.cvut.fit.vybirjan.mp.testapp.ui.View"
            id="mp-testapp.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="cz.cvut.fit.vybirjan.mp.testapp.ui.NavigationView"
            id="mp-testapp.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="mp-testapp.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="mp-testapp.category"
            id="mp-testapp.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="mp-testapp.category"
            id="mp-testapp.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="mp-testapp.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="mp-testapp.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="mp-testapp.application"
            name="Test application">
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="Test application">
         </property>
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="cz.cvut.fit.vybirjan.mp.testapp.splashHandlers.InteractiveSplashHandler"
            id="mptestapp.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="mp-testapp.product"
            splashId="mptestapp.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>

</plugin>
